#table {
  margin-top: -10px;
  padding-bottom: 28px;
}

#table tr {
	cursor: pointer;
}

#apa_output {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -14px;
  background-color: rgb(239, 239, 239);
  border-top: 1px solid rgb(213, 213, 213);
  padding: 5px;
  vertical-align: middle;
}

#apa {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(213, 213, 213);
  padding: 0;

  width: calc(100vw - 80px);
}

#apa p {
  font-family: "Times New Roman";
  font-size: 12pt;
  margin: 0;
  padding: 6px;
  padding-left: 8px;
}

#copy_button {
  float: right;
  margin-right: 6px;
  height: 36px;
}

        